:host {
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px 0;
    text-align: center;

    background-color: black;
    color: white;
  }

  p {
    font-weight: bold;
    font-style: italic;
  }
}
